.clickableBox {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid black;
}

.h1InBox {
  font-size: 24px;
}

.textInBox {
  font-size: 12px;
}

.fullLineInput {
  display: block;
  width: 80%;
  margin: 20px auto;
}

.circleButton {
  cursor: pointer;
  border-radius: 50%;
  background-color: green;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 40px;
  color: white;
  font-weight: bold;
  display: inline-block;
  margin: 20px;
}
